body {
	background: $secondary-color;
}

.top-bar {
	height: 60px;
	padding-top: 8px;
	background: $primary-color;
}

.login-box {
	background: #fff;
	width: 500px;
	padding: 30px;
	margin-top: 30px;
}

.icons {
	margin: 20px 0;

	.fa {
		color: #fff;
		display: block;
		margin: auto;
		font-size: 70px;
	}

	label {
		color: #fff;
	}
}

.item {
	text-align: center;
	background: $primary-color !important;
	overflow: auto;
	width: 100%;
	height: auto;
	display: block;
	padding-top: 15px;
	padding-bottom: 10px;
}

.item:hover {
	background: $hover-color !important;
}

.item:active {
	background: $active-color !important; 
}

.white-bg {
	background: #fff;
	overflow: auto;
	padding: 20px;
}

.primary-bg {
	background: $primary-color;
	overflow: auto;
	padding: 20px;

	label {
		color: #fff;
	}
}

footer {
	background: $primary-color;
	height: 80px;
	margin-top: 30px;

	p {
		color: #fff;
		text-align: center;
		padding-top: 20px;
	}
}